
.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


*{
  margin: 0;
  font-family:  "Montserrat", sans-serif;
  box-sizing: border-box;
  font-weight: 100
}

body {
  position: relative;
  width: 100%;
  height: 85vh;
  background-color: rgb(219, 201, 201);
  padding-bottom: 1rem;
}::-webkit-input-placeholder{
  font-weight: normal;
}:-ms-input-placeholder{
  font-weight: normal;
}

input{
  display: block;
  border: none;
  outline: none;
}
.icon-container{
  display: inline-block;
  color: white;
  width: 2rem;
  
}.keeper-text{
  font-family: "Mclaren";
  font-size: 2.5rem;
  display: inline;
  color: white;
  font-weight: 600;
  align-items: center;
  justify-content: center;
 
}.container{
  max-width: 100%;
 border-radius: 5px;
  padding: 4rem 0;
  border: none;
  margin-top: 3.5rem;
  
}


.header{
  z-index: 30;
  background-color: #f5ba13;
  align-items: center;
  top: 0;
  /*background-color: #f5ba13;*/
  padding-left: 1.5rem;
  position: fixed;
  display: flex;
  padding-block: 2vh;
  min-width: 100%;
 
}.textarea{
  max-height: 73%;
  padding: 0.7rem;
  width: 100%;
  border: none;
  display: block;
  outline: none;
  resize: none;

  font-size: 1.2em;
  
}.plus-sign{
  position: absolute;
  right: 1rem;
  bottom: -1.3rem;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  background-color: #f5ba13;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  display: none;
}
.clicked-title{
  min-height: 4rem;

}.form-textarea{
  background-color: white;
  padding: 0;
  box-shadow: 0 1px 5px #8a8989;
  position: relative;
  margin: 0 auto;
  max-width: 80%;
  border: 5px solid white;
 
}.title-box{

  margin-bottom: 0;
  padding-top: 0.6rem;
  padding-bottom: 0;
  padding-left: 0.7rem;
  resize: none;
  border: none;
  width: 100%;
  margin: auto 0;
  outline: none;
  min-height: 2rem;
  font-size: 1.2rem;
  display: none;
}.footer{
  font-size: min(3.5vw,1rem);
  color: rgba(255, 255, 255, 0.3 );
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-items: center;
  bottom: 0;
  margin-block: 0.5rem;

}textarea::placeholder{
  all: unset;

  font-weight: 300;
  color: #aaa;


}input::placeholder{
  all: unset;
  font-weight: 300;
  color: #aaa;

}@media(max-width: 760px){

}
@media(max-width:480px){
  .header{
    padding-left: 2vw;
    align-items: center;
  }.keeper-text{
    font-size: 1rem;
    font-weight: bold;
  }
  .form-textarea{
    max-width: 90%;
  }.icon-container{
    width: 1.5rem;
    padding: 0;
    margin-top: 0;

  }.keeper-text{
    font-size: min(2rem,10vw);
  }
}